#grad{
  background-color: #5078f2;
  background-image: linear-gradient(315deg, #e9dbf5 64% ,#5078f2 0% );  
  font-family: Dancing Script, cursive ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
}
.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn:nth-child(1) {
  animation-delay: 0.2s;
}

.fadeIn:nth-child(2) {
  animation-delay: 0.4s;
}

.fadeIn:nth-child(3) {
  animation-delay: 0.6s;
}
